@import (reference) "~antd/es/style/themes/default.less";

// 面包屑
.ui-breadcrumb {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  background-color: #fff;
  -ms-overflow-style: none;
  color: rgba(0, 0, 0, 0.65);
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  &-link {
    &:hover,
    &:active {
      color: @primary-color;
    }
  }

  &-item {
    cursor: default;
    color: @breadcrumb-link-color;

    &.ui-breadcrumb-active {
      color: @text-color;
    }
  }

  &-link,
  &-item {
    .anticon {
      font-size: 16px;
    }

    img {
      width: auto;
      height: 16px;
    }

    > span {
      margin-left: 4px;
    }
  }
}
