.chart {
  height: 512px;
  overflow: hidden;
  margin-bottom: 16px;
}

.chart,
.qrcode,
.machine {
  border: 1px dashed #d9d9d9;
}

.qrcode {
  aspect-ratio: 1 / 1;
}

.machine {
  margin-bottom: 16px;
}

.machine {
  width: 256px;
  padding: 32px 64px;

  .display {
    font-size: 2em;
    text-align: center;
  }

  .controls {
    gap: 1.5em;
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: center;

    .button {
      width: 5em;
      height: 5em;
      color: #fff;
      border: none;
      outline: none;
      position: relative;
      border-radius: 100%;
      background-color: #383b4c;

      &:focus {
        font-weight: bold;
      }

      &::after {
        top: -5px;
        left: -5px;
        content: "";
        right: -5px;
        bottom: -5px;
        position: absolute;
        border-radius: 100%;
        border: #383b4c 2px solid;
      }
    }
  }
}
