@import "antd/dist/reset.css";

#app {
  height: 100%;
}

.ui-unsupported {
  width: 100%;
  color: #f00;
  cursor: default;
  line-height: 30px;
  text-align: center;
  background: #fff1a8;
  border-bottom: 1px solid #f0c36d;
}
