// Antd 主题配置

@primary-color: #1890ff;
@font-family: "Microsoft Yahei", "PingFang SC", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

@layout-body-background: #fff;
@layout-header-background: #181c24;

@menu-icon-size: 20px;
@menu-icon-size-lg: 20px;
@menu-item-font-size: 16px;
@menu-icon-margin-right: 8px;
@menu-item-vertical-margin: 4px;
@menu-item-boundary-margin: 4px;
@menu-inline-submenu-bg: #fcfdfe;

@menu-dark-bg: #202631;
@menu-dark-inline-submenu-bg: #181c24;
@menu-dark-item-hover-bg: @layout-header-background;
