<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript><div class="ui-unsupported">您已禁用了浏览器脚本，网站功能无法正常使用，请开启脚本！</div></noscript>
    <div id="app"></div>
  </body>
</html>
